
@{
    ViewBag.Title = "HW1";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<br />
<body>
    <form action="" method="get" class="form-example">
        <div class="form-example">
            <label for="name">姓名: </label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="form-example">
            <label for="email">賬號: </label>
            <input type="text" name="email" id="email" required>
        </div>
        <div class="form-example">
            <label for="password">密碼: </label>
            <input type="password" name="email" id="email" required>
        </div>
        <div class="form-example">
            <label for="radio">性別: </label>
            <input type="radio" name="radio" value="A" />男
            <input type="radio" name="radio" value="B" />女
        </div>
        <div class="form-example">
            <label for="checkbox">興趣: </label>
            <input type="checkbox" name="item" value="" />游泳
            <input type="checkbox" name="item" value="" />閱讀
            <input type="checkbox" name="item" value="" />看電影
        </div>
        <div class="form-example">
            <label for="textarea">自我介紹: </label>
            <textarea></textarea>
        </div>



        @*<div class="form-example">
            <input type="submit" value="Subscribe!">
        </div>*@
    </form>
</body>
</html>